:root {
    --branding-color: #6C63FF;
    --primary-color: #F9F7FE;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
}

.hero {
    text-align: center;
    background-color: var(--primary-color);
    padding: 160px 20px;

}
.hero h1{
    font-size: 96px;
    font-family: var(--heading-font-family);
}

.hero h2{
    font-size: 30px;
    font-family: var(--heading-font-family);
    padding: 30px 40px;
}

.hero p{
    font-size: 36px;
    font-weight: bold;
    padding: 30px;
}

.button {
background-color: var(--branding-color);
color: white;
font-size: 18px;
font-weight: bold;
text-decoration: none;
border-radius: 10px;
line-height: 27px;
padding: 20px 30px;
margin-top: 100px;
}