:root {
    --branding-color: #6C63FF;
    --primary-color: #F9F7FE;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
}

.hero {
    text-align: center;
    padding: 160px 20px;

}

.wrapper {
    background-color: #F9F7FE;
    padding: 50px 50px auto;
    border-radius: 20px;
    opacity: 0.5;
    box-shadow: 20px 20px 5px rgb(1, 1, 1);
}

.hero h1{
    font-size: 96px;
    font-family: var(--heading-font-family);
}

.hero h2{
    font-size: 30px;
    font-family: var(--heading-font-family);
    padding: 30px 40px;
}

.hero p{
    font-size: 36px;
    font-weight: bold;
    padding: 30px;
}

.contact_btn {
background-color: var(--branding-color);
color: white;
font-size: 18px;
font-weight: bold;
text-decoration: none;
border-radius: 10px;
line-height: 27px;
padding: 20px 30px;
margin-top: 100px;
}


    .row {
        display: flex;
        flex-direction: column;
    }

    .img {
        width: 100%;
    }

    .learn_more {
        background-color: white;
        color:#6C63FF;
        padding: 12px 20px;
        border-radius: 4px;
        font-weight: 600;
        text-decoration: none;
    }

    .project_description {
        
    }