:root {
  --branding-color: #6c63ff;
  --primary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
  text-align: center;
}

.hero {
  text-align: center;
  padding: 140px 20px;
}

.hero h1 {
  font-size: 96px;
  font-family: var(--heading-font-family);
  line-height: 1;
}

.hero h2 {
  font-size: 32px;
  font-family: var(--default-font-family);
  padding: 30px 30px;
  margin-bottom: 60px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  padding: 20px;
}

.contact_btn {
  background-color: var(--branding-color);
  font-family: var(--default-font-family);
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 10px;
  line-height: 27px;
  padding: 20px 30px;
}

.project_description {
  text-align: center;
  line-height: 25px;
  margin: 100px 15px;
  margin-bottom: 50px;
}

@media (max-width: 900px) {
  .hero {
    padding: 80px 20px;
  }

  .project_description {
    text-align: center;
    padding: 0;
  }
}

.img-fluid {
  width: 80%;
  align-items: center;
}

.feature {
  background-color: #8a2be2;
  text-align: center;
  color: white;
  font-size: 28px;
  font-weight: 400;
  border-radius: 5px;
  line-height: 40px;
}
.learn_more_btn {
  background-color: white;
  color: #6c63ff;
  border: solid 2px #6c63ff;
  padding: 15px 20px;
  border-radius: 4px;
  font-size: medium;
  font-weight: 600;
  text-decoration: none;
  margin-top: 20px 20px;
}
