:root {
  --branding-color: #6c63ff;
  --primary-color: #F9F7FE;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

img .mclogo {
  height: 50px;
  width: 150px;
  width: 15px;
  text-decoration: none;
}


h1 {
  font-family: var (--heading-font-family);
}

h2 {
  font-family: var (--default-font-family);
}

.hero {
  text-align: center;
  padding: 80px 15px;
  background-color: #F9F7FE;
}

.hero p{
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

h1 {
  font-size: 96px;
  font-family: var(--heading-font-family);
  line-height: 1;
}

h2 {
  font-size: 32px;
  font-family: var(--heading-font-family);
  padding: 30px 30px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
}

.project_description p {
  font-family: var(--default-font-family);
  font-size: 16px;
  opacity: 0.5;
  padding: 2px 4px;
}

.btn-branding {
  background-color: var(--branding-color);
  font-family: var(--default-font-family);
  color: white;
  font-size: 24px;
  text-decoration: none;
  border-radius: 10px;
  line-height: 27px;
  padding: 20px 30px;
}


.btn-branding-outline {
  background-color: white;
  border-color: #6c63ff;
  padding: 15px 20px;
  border-radius: 4px;
  text-decoration: none;
  margin-top: 20px 20px;
  font-weight: 800;
}

.about-section {
padding: 160px 20px;
text-align: center;
}

.about-section-content h1 {
font-size: 30px;
}

@media (max-width: 900px) {
  .hero container {
    padding: 80px 20px;
  }

  .project_description {
    text-align: center;
    padding: 0;
  }

}

.img-fluid {
  width: 100%;
}

.feature {
  background-color: #8a2be2;
  text-align: center;
  color: white;
  font-size: 28px;
  font-weight: 400;
  border-radius: 5px;
  line-height: 40px;
}

