:root {
    --branding-color: #6C63FF;
    --primary-color: #F9F7FE;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
}

.hero {
    text-align: center;
    padding: 160px 20px;
}

.hero h1{
    font-size: 96px;
    font-family: var(--heading-font-family);
}

.hero h2{
    font-size: 30px;
    font-family: var(--default-font-family);
    padding: 30px 40px;
    margin-bottom: 50px;
}

.hero p{
    font-size: 36px;
    font-weight: bold;
    padding: 30px;
}

.contact_btn {
background-color: var(--branding-color);
font-family: var(--default-font-family);
color: white;
font-size: 20px;
font-weight: bold;
text-decoration: none;
border-radius: 10px;
line-height: 27px;
padding: 20px 30px;
}

    .project_description {
        border: 1px solid black;
        text-align: center;
        line-height: 25px;
        margin: 80px 15px;  
        margin-bottom: 50px;
}

    .img-fluid {
        width: 100%;
    }

  .feature{
        background-color: #8A2BE2;
        text-align: center;
        color: white;
        font-size: 28px;
        font-weight: 400;
        border-radius: 5px;
        line-height: 40px;

    }
    .learn_more_btn {
        background-color: white;
        color:#6C63FF;
        border: solid 2px #6C63FF;
        padding: 15px 20px;
        border-radius: 4px;
        font-weight: 600;
        text-decoration: none;
    }